<h1>Prophesee</h1>
<div id="loginbox">
	<% if user_signed_in? %>
	<%= render 'signed_in' %>
	<% else %>
	<%= render 'devise/sessions/new' %>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Register</button>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Register" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<%= render 'devise/registrations/new' %>
			</div>
		</div>
	</div>
	<% end %>

</div>
<div id="main">
	
</div>