<% tab "market" %>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="panel panel-default" style="margin-botton: 0;">
			<div class="panel-body" style="padding: 15px 15px 1px 15px;">
				<%= form_tag('/search', remote: true, id: 'search-form', class: 'input-group') do %>
				<%= text_field_tag :search, params[:search], id: 'search-box', class: 'form-control' %>
				<span class="input-group-btn">
					<%= button_tag(type: "submit", class: "btn btn-default") do %>
					Search
					<% end %>
				</span>
				<% end %>
				<hr>
				<div id="return">
					<p>Enter symbols like "AAPL" or company names like "Apple Inc."</p>
				</div>
			</div>
		</div>
	</div>

	<% @stocks.each do |stock| %>

	<%= render :partial => 'stocks/brief', :locals => { :stock => stock } %>

	<% end %>
</div>



