$("#sign-in-up").fadeOut("slow")
$("#sign-in-up").replaceWith("<div id=\"sign-in-up\", style=\"padding-top: 30px; display: none;\"><%=j render 'devise/sessions/new' %></div>")
$("#sign-in-up").fadeIn("slow")