/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
.total-container {
    margin-top: 80px;
}
#loginbox {

    margin-right: 80px;
 }
#styled-button {

    border-color: black;
    border-width: 1px;
    background-color: #FFF;
    height: 40px;
    width: 80px;
    margin-top: 10px;
    color: #000;
    border-radius: 0;
}
#register-container {
    margin-top: 50px;
}
#input {
    border-color: black;
    border-width: 1px;
}
#watchbox {
}
.stock-cell {
    padding-top: 40px;
}
.stock-cell p{
    font-size: 22px;
    padding-top: 5px;
}
#stock-modal-width {
    width: 450px;
}
#stock-modal-height {
    height: 250px;
}
#attitude-button {
    width: 90px;
    border-radius: 0;
}
#history-button {
    background-color: transparent;
    border-color: black;
    border-radius: 0;
}