/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
.total-container {
    margin-top: 60px;
}
.lower-total-container {
    margin-top: 100px;

}
#loginbox {

    margin-right: 80px;
 }
#styled-button {

    border-color: black;
    border-width: 1px;
    background-color: #FFF;
    height: 40px;
    width: 80px;
    margin-top: 0px;
    color: #000;
    border-radius: 0;
}
#styled-button-inverse {
    color: white;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    height: 40px;
    width: 80px;
    margin-top: 0px;
    border-radius: 0;
    outline:none;
    box-shadow:none;
}


#styled-button-inverse:hover {
    color: black;
    background-color: white;
}


#register-container {
    margin-top: 50px;
}
#input {
    border-color: black;
    border-width: 1px;
    outline:none;
    box-shadow:none;
}
#watchbox {
    border-radius: 0;
    border: 0;
}
.stock-cell {
}

#stock-modal-width {
    width: 450px;
}
#stock-modal-height {
    height: 250px;
}


#price-tooltip {
    border-color: transparent;
}

#stocks-show-stock-symbol p {
    font-size: 20px;
}
#stocks-show-stock-close p {
    font-size: 25px;
}


#nav-links a {
    color: white;
}
#nav-links a:hover {
    color: black;
    background-color: transparent;
}
#nav-links a:active {
    color: black;
    background-color: transparent;
}
#shared_links a {
    color: white;
}
#shared_links a:hover {
    color: white;
    font-weight: 500;
    background-color: transparent;
    text-decoration: none;
}
#index-left-button {
    position: absolute;
    left: 37%;
    margin-top: 250px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    height: 40px;
    width: 150px;
    border-radius: 0;
    outline:none;
    box-shadow:none;
}
#index-left-button:hover {
    background-color: white;
    color: black;
}

#index-right-button {
    position: absolute;
    left: 69%;
    margin-top: 250px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    height: 40px;
    width: 150px;
    border-radius: 0;
    outline:none;
    box-shadow:none;
}
#index-right-button:hover {
    background-color: white;
    color: black;
}

#index-intro-text {
    font-size: 35px;
    color: black;
    font-weight: 100;   
}
#index-intro-text-1 {
    font-size: 25px;
}


.dashboard-watchlist-symbol {
    position: absolute;
    font-size: 40px;
    color: black;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    top: 15px;
}
#dashboard-watchlist-symbol:hover {
    font-size: 30px;
    background-color: transparent;
    text-decoration: none;
}
.dashboard-watchlist-change {
    position: absolute;

    top: 70px;
    font-size: 25px;
}
.dashboard-watchlist-close {
    position: absolute;
    left: 140px;
    top: 30px;
    font-size: 32.5px;
}
#dashboard-watchlist-history {
    background-color: transparent;
    border-color: black;
    border-radius: 0;
    position: absolute;
    left: 130px;
    top: 65px;
}
#dashboard-watchlist-attitude {
    width: 90px;
    border-radius: 0;
    position: absolute;
    margin-left: 150px;
    top: 96px
}
#dashboard-watchlist-distribution {
    height: 7px;
    margin-top: 78px;
    width: 241px;
    border-radius: 0;
}
#dashboard-watchlist-distribution-number {
    height: 20px;
    position: absolute;
    top: 110px;
    width: 150px;
    line-height: 1px;
}

#dashboard-watchlist-distribution-number p {
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
}
#dashboard-watchlist-add {
    cursor: pointer;
}
#dashboard-watchlist-add:hover {
    background-color: rgba(200, 200, 200, 0.4);
}
#dashboard-watchlist-modal {
    padding: 20px;
    width: 400px;
    height: 200px;
}
.dashboard-modal-symbol {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    left: 20px;
    font-size: 25px;
    top: 80px;
}
.dashboard-modal-add {
    position: absolute;
    left: 350px;
    font-size: 20px;
    top: 80px;
}
.dashboard-modal-close {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    left: 100px;
    top: 88px;
}
.dashboard-modal-change {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    left: 180px;
    top: 88px;
}
#short-progress-bar {
    margin-top: 40px;
    left: 85px;
}

.nav-dropdown-box {
    width: 300px;
    height: 400px;
}